@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    background: url(bg.png);
    font-family: 'Montserrat', sans-serif;
}

aside h2 {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;

    color: #000000;
}

aside h1 {
font-weight: 800;
font-size: 42px;
line-height: 51px;

color: #000000;
}

aside h3 {
    margin-top: 150px;
font-weight: bold;
font-size: 24px;
line-height: 29px;

color: #000000;
}

aside p, a, ul li {
    font-weight: 600;
font-size: 18px;
line-height: 22px;

color: #696969;
}

.left {
    width: 419px;
    left: 40px;
    top: 40px;
    bottom: 40px;
    
    background: #000000;
}

.left h2 {
    margin-top: 80px;
font-weight: bold;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
}

.left span, li {
font-weight: normal;
font-size: 14px;
line-height: 17px;

color: #B7B7B7;
}